*.[oa]
*~
# *.[oa] <-- this will ignore any files ending in .o or .a , this a typically object or archive files that may be a product of building your code, this ~(tilde) character is for ignoring files that end with a tilde(they are used by many texteditors to mark temporary files) oh and by the way # is obviously for making a comment in this file
