- var welcomeMsg = 'Welcome !';
- var msg = 'Please ask Chattter the chatbot any of the following questions';

doctype html
html(lang='en')
    include head.pug
    body
        h1= welcomeMsg
        strong= msg
        include questions
        include chatwindow
        include submitForm
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-1.11.1.js")
        script(src="js/client.js")
        script(src="js/bootstrap.min.js")
