ul(id="questions")
    li
        a how are you ?
    li
        a what are your plans for today ?
    li
        a what do you usually eat ?
    li
        a are you alive ?
    li
        a why did you pursue a chatbot career ?